
body {
  box-sizing: border-box;
  background-color: #ffffff;
}
.container_body {
  margin: 20px auto;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  line-height: 2.3;
  width: 1024px;
  box-shadow: 0 0 11px rgb(0 0 0 / 21%);
  /* display: flex;
  flex-wrap: wrap; */
   /* text-align: center; */
  
}

h1 {
    margin: 0px;
    font-size: 30px;
    letter-spacing: 2px;
}
main {
  width: 40%; 
}

.img_rrs {
  height: 35px;
}

header{
  display: flex;
  height: 30%;
}


.last_first_name{
  background-color: #343434;
  width: 40%;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}
.img_last_first_name{
  width: 85%;
  
}

.contacts{
  width: 60%;
  background-color: #dbdbdb;
  padding: 135px 10px 10px 20px;
  
}

.ul_contacts{
  padding-left: 110px;

}
.container {
  display: flex;
}
main{
  width: 40%;
}
aside{
  width:  60%;
}

.footer {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;

}